

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

img {
  float: left;
  width: 100%;
  height: 100%;
  border: 1px dashed #cccccc;
  margin: 5px;
  background-size: cover;
  background-repeat: no-repeat; 
}


.photo {
  float: left;
  /*width: ;*/
  /*height: 100%;*/
  border: 1px dashed #cccccc;
  margin: 5px;
  background-size: cover;
  background-repeat: no-repeat; 
}

.photo h1 {
    float:left;
}



#myCarousel {
  margin-top: 40px;
  
}

.item {
  border:1px solid #eee;
  width:500px;
  height:500px;
  margin:0 auto;
  padding:10px;
}

.geo {
	height: 75px;
	width: 300px;
	background-color: lightgray;
	position: relative;
	left: 500px;
}

.map-block {
	width: 300px !important;
  	height: 300px !important;
}















